@import '~stylekit';

html {
  font-size: var(--sn-stylekit-base-font-size);
}

body {
  font-family: sans-serif;
  margin: 15px;
  color: var(--sn-stylekit-editor-foreground-color);
  background-color: var(--sn-stylekit-editor-background-color);
}

label {
  margin-bottom: 12px;
  display: block;
}

.task {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;

  &.open {

  }

 .checkbox, .task-label {

 }
 .checkbox {
   margin-top: 7px;
 }
 textarea.task-input-textarea {
   border: none;
   width: 100%;
   resize: none;
   font-size: var(--sn-stylekit-font-size-editor);
   color: var(--sn-stylekit-editor-foreground-color);
   outline: none;
   resize: none;
   overflow: hidden;
   background-color: transparent;
 }
}

.task-dragging {
  background-color: white;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.clear-button {
  margin-top: 10px;
  display: block;
}

.create-task-input {
  width: 100%;
  height: 30px;
  outline: none;
  padding-left: 6px;
  margin-bottom: 6px;
  font-size: var(--sn-stylekit-font-size-editor);
  border: 1px solid var(--sn-stylekit-border-color);
  background-color: var(--sn-stylekit-contrast-background-color);
  color: var(--sn-stylekit-contrast-foreground-color);
}

.task input[type='checkbox'] {
  margin-right: 10px;
  width: 10px;
}

.task-section {
  margin-bottom: 16px;
}

.task-section h3 {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.3;
}

a {
  font-weight: bold;
  font-size: 10px;
  opacity: 0.3;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
